<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.firstgroup.workerWeb.worker.mapper.WorkerMapper">
  
	<insert id="signUp">
		INSERT INTO workers (worker_id, worker_password, name, career, gender) 
		VALUES (#{worker_id},#{worker_password},#{name},#{career},#{gender})
	</insert>
  	
  	<select id="login" resultType="WorkerVO">
  		SELECT * FROM workers WHERE worker_id = #{worker_id} AND worker_password = #{worker_password}
  	</select>
  	
  	<select id="checkId" resultType="int">
  		SELECT count(*) FROM workers WHERE worker_id = #{worker_id}
  	</select>
  	
  	<insert id="workStart">
  		INSERT INTO office_hour (worker_number) values (#{worker_number})
  	</insert>
  	
  	<select id="checkStart" resultType="int" parameterType="String">
  		SELECT count(*) FROM office_hour WHERE worker_number = #{worker_number} AND work_start LIKE concat(#{today},'%')
  	</select>
  	
  	<update id="workEnd" parameterType="String">
  		UPDATE office_hour SET work_end = NOW() WHERE work_start LIKE concat(#{today},'%') and worker_number = #{worker_number}
  	</update>
  	
  	<select id="checkEnd" resultType="int" parameterType="String">
  		SELECT count(*) FROM office_hour WHERE worker_number = #{worker_number} AND work_start LIKE concat(#{today},'%')
  	</select>
  	
  	<select id="realCheckEnd" resultType="int" parameterType="String">
  		SELECT count(*) FROM office_hour WHERE worker_number = #{worker_number} AND work_end LIKE concat(#{today},'%')
  	</select>
  	
  	<insert id="chooseDayOff">
  		INSERT INTO office_hour (worker_number, work_start, work_end, offday) values (#{worker_number},#{day},#{day},#{reason})
  	</insert>
  	
  	<update id="updateEnd">
  		UPDATE office_hour SET work_end = NOW() WHERE work_start LIKE concat(#{today},'%') and worker_number = #{worker_number}
  	</update>
  	
  	<select id="getMonthOfficeHour" resultType="OfficeHourVO" parameterType="String">
		select * from office_hour WHERE work_start like concat(#{year},'-',#{month},'%') AND worker_number = #{worker_number} ORDER BY work_start
	</select>
  	
  	<select id="getMonthPay" resultType="OfficeHourVO" parameterType="String" >
 		select * from office_hour WHERE work_start like concat(#{year},'-',#{month},'%') AND worker_number = #{worker_number} 	
  	</select>
  	
 </mapper>