@charset "UTF-8";
.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 500px;
	text-align: center;
}
body {
	background: #f6f5f7;
	/* flex-direction: column; */
	font-family: 'Montserrat', sans-serif;
	/* margin: -20px 0 50px; */
	text-align: center;
    /* padding: 100px; */
    background: whitesmoke;
    /* display: table-cell; */
}
.year{
	width:74px;
	height:18px;
}
.month{
	height:22px;
}
.submit{
	margin-left:1rem;
	height:22px;
	
}